body{
	background-color: #9fc5e8;
}

table {
  border-collapse: collapse;

}

/* Style the header */
.header{
background-color: #01579b;
color: white;
padding: 15px 15px;
text-align: center;
}

.img{
	padding: 10px 80px;
}

.text{
padding: 15px 80px; 
}

.logo{
  width: 80px;
  padding: 80px 10px;
  position: absolute;
  top: 65px;
  right: 52px;
}

.topnav {
  background-color: #04AA6D;
  border-radius: 15px;
  width: 80px;
  height: 35px;
  align-self: right;
  position: absolute;
  top: 149px;
  right: 15px;
  font-family: monospace;
}

.topnav a {
  float: right;
  color: #f2f2f2;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  border-radius: 15px;
  color: black;
}


.title{
	color: #26422d;
}
.student_id{
	background-color: white;
  border-radius: 15px;
	width: 310px;
	height: 190px;
	border-color: black;
}


.input{
  width: 60%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-color: black;
  border-radius: 4px;
}

.button{
  background-color:#01579b ;
  border-radius: 20px;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.font{
  font-size: 25px;
  font-family: monospace;
}

.logout{
  width: 80px;
  padding: 80px 2px;
  position: absolute;
  top: 72px;
  right: 52px;
}

.box{
  border-color: black;
  border-radius: 6px;
  padding: 8px 5px;
  margin: 8px 0;
}

